@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #f1f9fb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



.main {
  max-width: 90vw;
  height: 20vh;
  background: #fff;
  border: 1px solid #fff;
  margin: 6rem auto;
  border-radius: 15px;
  padding: 10px;
}

nav {
  width: inherit;
  height: 18vh;
  background: #F1F9FB;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: auto;
}
nav ul li{
  margin: 10px;
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  background-color: transparent;
  overflow: hidden;
}

.utilities{
  margin-right: 20px;
}
.btn{
  margin: 20px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-login{
  border: none;
  outline: none;
}
.btn-signup{
  border-radius: 5px;
  background-color: #151533;
  padding: 12px 25px;
  color: #fff;
}