*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #000;
  height: 100%;
}

.outer-border {
  width: 40%;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #0d0d14;
  border-radius: 8px;
  padding: 20px;
}

/* heading */
.heading{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  color: #7C84A4;
}
.heading-text{
  font-size: 1.7rem;
}
.heading p{
  font-size: 1rem;
  margin-top: 8px;
  width: 80%;
}
/* heading */

/* form */
.form {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.flexi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flexi .hello {
  margin-left: 5rem;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 50%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: #BC3756;
  text-align: center;
}

.input-field {
  /* width: 100%; */
  padding: 12px;
  padding-left: 30px;
  background-color: #15151c;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #444C5C;
  /* text-align: center; */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444C5C;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #444C5C;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #444C5C;
}
.online-webinar{
  color: #7C84A4;
}
.online-webinar input{
  border: 1px solid red;
}


.terms {
  margin-top: 1rem;
}
.terms input {
  margin-right: 3px;
}
.btn .continue {
  margin-top: 2rem;
  background-color: #BC3756;
  padding: 10px 20px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  text-transform: capitalize;
}
/* form */
